<nav class="nav" >
  <div class="container" >

    <div class="left" >

      <mat-icon class="icon" >
          menu
      </mat-icon>

      <div class="img-logo" >
        <img class="logo" src="assets/images/keep.png" alt="logo">
        <p>Keep</p>
      </div>

      <div class="search" >
        <mat-icon class="icon">
          search
        </mat-icon>
        <input type="search" placeholder="Search" name="search" id="input">
      </div>

    </div>

    <div class="justify-end" >

      <mat-icon class="icon disappear ">
        refresh
      </mat-icon>

      <mat-icon class="icon disappear" >
          view_agenda
      </mat-icon>

      <app-settings></app-settings>

      <div (click)="logout()" >
        <mat-icon class="icon" >
            logout
        </mat-icon>
      </div>

    </div>

  </div>
</nav>
