.container {
  background: #fff;
  box-shadow: 1px 1px 10px 1px #a1a2a3;
  border-radius: 8px;
  padding-inline: 15px;
  padding-block: 4px;
  width: 600px;
  align-self: center;
  overflow: hidden;
  margin-top: 2em;
}

.container-fluid {
  width: 72vw;
  display: flex;
  flex-direction: column;
}

.click,.icon-div{
  display: flex;
  align-items: center;
}

.icon-div-top{
  gap: 35px;
  display: flex;
  align-items: center;
}

.icon-div{
  gap: 30px;
}

::placeholder{
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.25em;
}

.click{
  height: 40px;
  justify-content: space-between;
}

.icon{
  font-size: 20px;
  height: 20px;
  color: #5F6368;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  cursor: pointer;
  position: relative;
}

input{
  width: 400px;
  padding-block: 5px;
  border: 0;
  font-size: 1.2em;
  outline: 0;
  font-family: 'Noto Sans', sans-serif;
}

.bottom-items{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.close{
  cursor: pointer;
  margin-right: 10px;
}

::placeholder{
  font-size: 0.85rem;
  font-family: 'Noto Sans', sans-serif;
}

.grid{
  display: grid;
  grid-template-columns: repeat(6 , 1fr);
}

.closable{
  margin-top: 10px;
}

.children{
  margin-top: 2em;
  padding: 10px;
  width: 80%;
  margin-inline: auto;
}

@media (max-width: 700px){
  .container{
    width: 90%;
    padding-inline: 0px;
    align-self: flex-start;
    align-self: auto;
  }
  .container-fluid{
    width: 95vw;
  }
  .grid{
    grid-template-columns: repeat(1 , 1fr);
  }
  input{
    width: 100%;
    text-indent: 10px;
  }
  .children{
    width: 100%;
  }

  .icon-div-top{
    gap: 10px;
    margin-right: 10px;
  }
  .icon-div{
    gap: 10px;
  }

  .icon{
    font-size: 15px;
  }
  .children{
    margin-top: 1em;
  }


}
