<div class="container" >
  <form (submit)="onFormSubmit($event)"  class="login">
    <h2>Welcome, User!</h2>
    <p>Kindly enter your email address to retrieve your password</p>
    <details>
      <summary>Did you know?</summary>
      <p>Short people have anger issues 😏</p>
    </details>
    <input
        type="email"
        placeholder="Enter email"
        [formControl] = email
        required
    />
    <input
      role="button"
      type="submit"
      value="Reset"
      (click)="onClick()"
      />

      <div class="links">
        <a [routerLink]="['/']">Login</a>
        <a [routerLink]="['/signup']">Register</a>
      </div>

  </form>
</div>
